.bg{ 
    
    text-transform: capitalize;
    
    
}
.op
{
    font-size: large;
    display: grid;
    flex-direction: column;
    margin: 70px ;
    padding: 5px 5px;
    background-color: rgb(232, 216, 216);
    
    

}


button
{
    text-transform: capitalize;
    
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 100px;
}
.bg
{
    box-sizing: border-box;
    border: 5px bold green;
    
}
footer#submit{
    display: flex;
    justify-content: center;
    padding: 10px;
}
p#para{
    font-size: 20px;
    
    padding: 0px 150px;
    
}
.container-nav
{
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: black;
    padding: 10px 5px;
    
}
a{
    float: right;
    font-family:Arial, Helvetica, sans-serif;
    row-gap: 20px;
    padding: 7px 5px;
    margin: 5px 3px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    
}
a#home{
    display: flex;
    justify-content: start;
    margin-right: 1000px;
    
}
nav{
    
    color: white;
    font-size:20px;
}
a:hover
{
    color:green;
    font-size: large;
}
.body
{
    padding: 20px 50px;
}


